* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;

}

/* header part start here  */
.background {
    background: rgba(229, 84, 115, 0.10);
   
    
}

.heading {
    display: flex;
    align-items: center;
    padding: 0 240px;
    gap: 100px;

}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 20px;
}

.header-discription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;

}

.header-picture {
    width: 635px;
    height: 800px;
    padding-top: 20px;

}

button a {
    text-decoration: none;

}

/* main part start here */



.first-head {

    margin-top: 150px;
}

.first-heading {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 20px;
    text-align: center;
}

.instra-discription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.flowers {
    width: 1550px;
    height: 700px;
    padding: 10px 425px;
    align-items: center;

}

.flower-1 {
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0 76px;
    margin: 0 20px;

}

.flower-2 {
    width: 370px;
    height: 370px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
    margin: 0 20px;

}

.flower-3 {
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(255, 193, 7, 0.15);
    padding: 110px 78px 0 76px;
    margin: 0 20px;

}

.flower-title {
    display: flex;

}

.first {
    color: #272727;
    text-align: center;
    font-size: 24px; 
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin: 20px 165px;
}

.secound {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin: 20px 145px;
}

.third {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin: 20px 180px;
}

.Support {
    width: 1400px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 50px;

}



.Support-picure-containar {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    margin: 130px 0;
    align-items: center;

}

.hot-deal {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 200px;
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    padding: 0 48px 0 40px;
    margin-left: 140px;



}

.hot-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}

.colur {
    color: #E55473;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.info-discription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
    width: 594px;


}

#button-class {
    display: inline-flex;
    padding: 20px 43px;
    margin-left: 200px;
    gap: 10px;
}


.latest-deal {
    background-image: url("./Rectangle\ 9.png");
    width: 1395px;
    height: 449px;
    border-radius: 8px;
    margin-top: 100px;


}

.deal-heading {
    text-align: center;
    padding-top: 100px;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.deal-discription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;

}

.email-box {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    margin-top: 20px;
    margin-left: 120px;
    padding: 0 100px 0 100px;
    border: none;
    justify-content: space-between;
}

.footer-part {
    width: 1922px;
    height: 449px;
    background: #111010;
}

.footer-title {
    margin-top: 50px;
    padding: 0 58px 0 48px;
    color: #FFF;
    font-size: 48px;
    font-style: normal;

}

.footer {
    background-color: #111010;
    width: 1922px;
    height: 449px;
    margin-top: 100px;
    margin-left: -250px;

}

.col {
    color: #E55473;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-head {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 100px;
}

.footer-dis {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;

}

.rights {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 750px;
}